<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
      <h1>Appudate Podcast Dashboard</h1>
    </div>
  </div>
  
  <div id="link">
    <div class="wrapper_skinny">
      <ul>
        <li>Episode</li>
        <li><a href="#">New Episodes</a></li>
        <li class="current_episode">Account Settings</li>
        <li><a href="#">View Podcast</a></li>
      </ul>
    </div>
  </div>
</div>
  
<div id="form">
  <div class="wrapper_skinny">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs field">
        <%= f.input :title, autofocus: true %><br>
        <%= f.input :description %><br>
        <%= f.input :email %><br>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <h2>Links</h2>
        <%= f.input :itunes %><br>
        <%= f.input :stitcher %><br>
        <%= f.input :podbay %><br>
        <%= f.input :password, autocomplete: "off", placeholder: "leave it blank if you don't want to change it", required: false %><br>
        <%= f.input :password_confirmation, required: false %><br>
        <%= f.input :current_password, placeholder: "we need your current password to confirm your changes" %>
      </div>

      <div class="actions">
        <%= f.button :submit, "Click to Update", class: "button button_highlight button_block" %>
      </div>
    <% end %>

    <h3>Cancel my Account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, data: {confirm: "Are you sure you want to delete your account?"} %></p>
  </div>
</div>

