<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
      <h1>Appudate Podcast Dashboard</h1>
    </div>
  </div>
  
  <div id="link">
    <div class="wrapper_skinny">
      <ul>
        <li ><%= link_to "Episodes", root_path %></li>
        <li class="current_episode" > New Episode</li>
        <li><%= link_to "Account Settings", edit_podcast_registration_path %></li>
        <li><%= link_to "View Podcast", podcast_path(current_podcast) %></li>
      </ul>
    </div>
  </div>
<div id="form">
	<%= simple_form_for ([@podcast, @episode]) do |f| %>
		<div class="form-inputs wrapper_skinny"><br>
		    <%= f.input :title, required: false, autofocus: true, class: 'field' %><br>
		    <%= f.input :description, required: false, class: 'field' %><br>
	    </div>

	    <div class="actions">
	    	<%= f.button :submit, "Create a Podcast", class: "button button_highlight button_block" %>
	    </div>
	<% end  %>
</div>
